name: Deploy Angular to GoDaddy
#Prueba
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: Install dependencies
        run: npm install

      - name: Build Angular
        # CORRECCIÓN: Se eliminó "-- --configuration production"
        # Vite ya construye en modo producción automáticamente con este comando.
        run: npm run build 

      - name: Upload build to GoDaddy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}
          # OJO: Verifica esta ruta. Vite puro suele generar todo en "dist/"
          # Si tu despliegue falla diciendo que no encuentra la carpeta,
          # cambia esto a: local-dir: dist/
          local-dir: dist/ecommerce-angular/browser/ 
          server-dir: /